@import "./modules/variables";

@font-face {
    font-family: "bochan";
    src: url(../assets/fonts/Bochan\ Serif.ttf);
}

body {
    font-family: "bochan";
    @import "./modules/header";
    background-color: $bgbody;
}