@import "../variables";

@font-face {
    font-family: "bochan";
    src: url(../../../assets/fonts/Bochan\ Serif.ttf);
}

body {
    font-family: "bochan";
    @import "../header";
    background-color: $bgbody;
}